<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Blog</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Site Blog</h1></a>
            <p> The Warrior Blog</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tempora aspernatur culpa debitis facilis, officia commodi veniam similique mollitia pariatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tempora aspernatur culpa debitis facilis, officia commodi veniam similique mollitia pariatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tempora aspernatur culpa debitis facilis, officia commodi veniam similique mollitia pariatur!</p>
    </div>
</body>
</html>