<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Blog | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Site Blog</h1></a>
            <p> The Warrior Blog</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>
    <div class="blogs content">
        <h2>All Blogs</h2>

        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>

                <h4 class="title"><%= blog.title %></h4>
                <p class="snippet"><%= blog.snippet %></p>

            <% }) %>
        <% } else{ %>
            <p>there no blogs to desplay :(</p>
       <% } %>

    </div>
</body>
</html>